* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background adjusts properly on all screens */
.background {
  height: 100vh;
  width: 100vw;
  background: url("images/background-img.png") no-repeat center center fixed;
  background-size: cover;
}

/* Bird scales with viewport width (vw) */
.bird {
  height: 7vh;
  width: 7vh;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
  object-fit: cover;
  border-radius: 50%;
}

/* Pipes adjust width/height responsively */
.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 20vw;
  max-width: 450px;
  border: 5px solid black;
}

/* Message box remains centered and readable */
.message {
  position: absolute;
  z-index: 10;
  color: black;
  top: 30%;
  left: 50%;
  font-size: 4vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.messageStyle {
  background: white;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5%;
}

/* Score remains visible and scales */
.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 6vh;
  font-weight: 100;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  top: 0;
  left: 0;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.score_val {
  color: gold;
  font-weight: bold;
}

/* === Responsive tweaks === */

/* Tablets */
@media only screen and (max-width: 1080px) {
  .message {
    font-size: 5vw;
    top: 45%;
    white-space: nowrap;
  }

  .score {
    font-size: 7vh;
  }

  .bird {
    width: 10vh;
    height: 10vh;
  }

  .pipe_sprite {
    width: 15vw;
    max-width: 200px;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .message {
    font-size: 6vw;
    top: 50%;
    padding: 4vw;
  }

  .score {
    font-size: 5vh;
  }

  .bird {
    width: 12vh;
    height: 12vh;
    left: 20vw;
  }

  .pipe_sprite {
    width: 25vw;
    max-width: 150px;
  }
}
